<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find blender_gazebo)/worlds/actually_empty_world.world" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>
  
  <param name="coffee_plant_description" command="$(find xacro)/xacro --inorder '$(find coffee_plant)/urdf/coffee_plant.urdf.xacro'" />

  <node name="spawn_coffee_plant" pkg="gazebo_ros" type="spawn_model" args="-param coffee_plant_description -urdf -model coffee_plant" respawn="false" />
</launch>
