<?xml version="1.0"?>

<launch>
  <arg name="gui" default="true"/>
  <arg name="world_name" default="coffee_plant"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find jackal_mpc_gazebo)/worlds/coffee_plant.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  
</launch>
